
<section class="contenedor">
    @if(personajes) {
        @for (personaje of personajes; track personaje.id) {
            <article class="ficha">
                <img [src]="personaje.image" alt="Imagen de {{personaje.name}}">
                <p class="nombre">{{personaje.name}}</p>
                <p><strong>Especie:</strong> {{personaje.species}}</p>
                <p><strong>Estado:</strong> {{personaje.status}}</p>
            </article>
        }
    } @else {
        <app-loading></app-loading>
    }
</section>