.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.ficha {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 200px;
}

.nombre {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}