<section class="principal">
    <article class="ficha">
        <div class="imagen-contenedor">
            <img src="/img/prueba.webp" alt="Imagen de Bajos">
        </div>
        <div class="datos-contenedor">

        </div>
        <div class="iconos-precio-contenedor">
            <p class="precio">1,200.00€</p>
            <div class="iconos">
                <i class="fa-regular fa-paste"></i>
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </article>
</section>
