.principal {
    padding: 20px;
}

.ficha{
    display: flex;
    margin-bottom: 20px;
    padding: 18px;
    width: 940px;
    background-color: #f3f3f3;
    border-radius: 8px;
}

.imagen-contenedor{
    width: 25%;
    display: flex;
    justify-content: center;
}

.imagen-contenedor img{
    width: 168px;
    height: 168px;
    /* Esto hace que el fonde de la imagen se vea transparente */
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.datos-contenedor{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titular-fabricante{
    font-size: 18px;
    font-weight: bold;
}

.modelo{
    font-size: 18px;
    margin-left: 8px;
}

.contenedor-likes{
    margin-top: 15px;
}

.numero-likes{
    margin-left: 8px;
}

.numero-likes span{
    color: #8a8a8a;
    font-weight: bold;
}

.caracteristicas-principales{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.caracteristicas-principales li::before{
    font-family: "Font Awesome 5 Free";
    font-size: 8px;
    content: "\f111";
    vertical-align: middle;
    padding-right: 6px;
}

.no-hay-stock{
    color: red;
}

.en-stock{
    color: green;
}

.poco-stock{
    color: orangered;
}

.iconos-precio-contenedor{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iconos{
    display: flex;
    justify-content: space-between;
}

.iconos i{
    font-size: 1.5rem;
    cursor: pointer;
}

.iconos i:hover{
    color: #7e007e;
}

.precio{
    font-size: 26px;
    font-weight: bold;
    text-align: right;
}
